# Example environment variables for auth and base URL
APP_BASE_URL=https://service-stage-app.connectcdk.com/Default.aspx?cid=320006
TEST_USERNAME=
TEST_PASSWORD=
